@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

.pointer{
    cursor: pointer;
}
.navbar .navbar-expand-md .navbar-dark {
    font-size: 20px;
    text-decoration: underline;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20%;

}

.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
    left: 20%;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    

}

footer{
    background: black;
}