@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oxygen&display=swap');


.mat-stepper-horizontal {
    margin-top: 8px;
  }
  

  .mat-form-field {
    margin-top: 16px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .mat-stepper-horizontal{
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .mat-radio-button{
    align-items: center;
  }
 
  .gend{
    align-items: center;
  }

  footer {
    position: sticky;
    padding: 30px;
    text-align: center;
    background: #342b8d;
    color: white;
    font-size: 30px;  
    bottom: 0;
    
  }
  .content-body{
    min-width: 100%;
    padding: 60px 1rem;
    background: #7B68EE ;
    display: block;


  }
  .orderp img{
    
    width: 100%;
    height: 200px;
    object-position: center;
    object-fit: cover;
}

/* .orderp{
  padding-top: 35rem;
} */

.picsum-img-wrapper{
  width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.slider-image{
  height: 40vh;
}


.carousel-item{
 
  height: 32rem;
  background: black;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;


}

.container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}


.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.7;

}

mat-horizontal-stepper{
  font-family:'Lora', serif  ;
}